/* ----------- Services Page Specific ----------- */

.services-intro {
    text-align: center;
    padding: 3rem 2rem;
    background-color: #f9f9f9;
}

.services-intro h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #2d3e50;
}

.services-intro p {
    font-size: 1.2rem;
    color: #555;
    max-width: 700px;
    margin: 0 auto;
    
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    padding: 3rem 2rem;
    background-color: #fff;
}

.service-card {
    position: relative;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
    text-align: center;
    transition: transform 0.3s ease;

    /* Ajout pour image de fond */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 200px;
    /* nécessaire pour que l’image et le contenu s'affichent bien */
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}


.service-card:hover {
    transform: translateY(-5px);
}


.service-card h3 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    color: #fff;
}

.service-card p {
    font-size: 1rem;
    color: #fff;
    display: -webkit-box;
  -webkit-line-clamp: 3; /* Nombre de lignes max */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.service-card-content {
    width: 100%;
    height: 100%;
    background-color: #00000078;
    padding: 1.5rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}